<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<title>テスト</title>
</head>
<body>
    <form action = "db_save" method="POST">
      kuriID  <input type="text" name="kuriID">
      userID  <input type="text" name="userID">
      lat  <input type="text" name="lat">
      lon  <input type="text" name="lon">
      date <input type="text" name="date">
      <p><input type="submit" value="送信"></p>
      </form>
</body>
</html>
